#images{
    box-sizing: border-box;
}
.gridimages{
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

.gridimages .column{
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.gridimages .column img{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.gridimages .column img:hover{
    opacity: 0.7;
}

@media screen and (max-width: 800px) {
    .gridimages .column{
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .gridimages .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }